.App {
  background-color: #f8f9fa; /* Soft white */
  min-height: 100vh;
  margin: auto;
  max-width: 900pt;
  padding: 16pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; /* Change text color to black for better contrast */
}

.App-header {
  text-align: center;
  padding: 16pt;
}

.App-header a {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: darkred; /* Dark red button background */
  color: white; /* White button text */
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}
.App-header a.active {
  background-color: indianred; /* Lighter shade of red for active button */
}

.page {
  background-color: #ffffff; /* Soft white */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: justify;
  justify-content: justify;
  font-size: calc(10px + 2vmin);
  color: #343a40;
}
