.passport-generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f4f4f9;
}

.passport-generator-header {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.passport-generator-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.passport-generator-form label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  min-width: 200pt;
  display: flex;
}

.passport-generator-form input,
.passport-generator-form button {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.passport-generator-form button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.passport-generator-form button:hover {
  background-color: #218838;
}

.form-field {
  padding: 3pt;
}
.App {
  background-color: #f8f9fa; /* Soft white */
  min-height: 100vh;
  margin: auto;
  max-width: 900pt;
  padding: 16pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; /* Change text color to black for better contrast */
}

.App-container {
  display: flex;
  font-size: medium;
  line-height: 160%;
  height: 100vh;
}

.App-sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.App-sidebar a {
  padding: 10px;
  font-size: medium;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}

.App-sidebar a.active {
  background-color: #ddd;
}

.App-content {
  flex: 1;
  padding: 20px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .App-container {
    flex-direction: column;
  }

  .App-sidebar {
    width: 100%;
    padding: 10px;
  }
}

.form-group {
  border: 1px solid gray;
  padding: 6pt;
}
.form-field {
  padding: 6pt;
}
.form-field label {
  margin-right: 6pt;
  width: 300;
}
.page {
  padding-bottom: 12pt;
}